<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      <!-- <ion-icon name="home-outline" color="primary"></ion-icon> -->
    </ion-buttons>
    <!-- <ion-title color="primary">Consultas</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">{{ folder }}</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">

    <ion-img width="80" height="80" src="../../assets/img/materna_pro_logo.png"></ion-img>
    <br />
    <br />
    <ion-label color="primary" class="textoDestaque">
      Acompanhamento pré-natal odontológico e educação em saúde da gestante e do bebê.
    </ion-label>
    <br />
    <br />

    <ion-label position="stacked" color="dark">CPF:</ion-label>
    <ion-input type="text" placeholder="Informe aqui o CPF" [(ngModel)]="cpf_cnpj" (keyup)="cpf_cnpj=format(cpf_cnpj)" maxlength="14" ngModel name="app_folder_contact_cpf"></ion-input>
    <ion-button color="primary" (click)="login()">IDENTIFIQUE-SE</ion-button>

    <ion-button routerLink="/contacts/edit/1" color="primary" size="large" fill="solid">
      <div class="ion-padding">
        <label class="ion-padding" style="white-space: pre-line;">CADASTRO</label>
      </div>
    </ion-button>
    <!--
    <ion-button expand="block" (click)="scheduleNotification()">Schedule</ion-button>
    <ion-button expand="block" (click)="recurringNotification()">Every Minute</ion-button>
    <ion-button expand="block" (click)="repeatingDaily()">Daily</ion-button>
    <ion-button expand="block" (click)="getAll()">Get All</ion-button>
    <ion-button expand="block" (click)="clearAll()">Clear All</ion-button>
-->
    <ion-list>
      <ion-item *ngFor="let n of scheduled">
        <ion-label text-wrap>
          {{ n.id }} - {{n.title}}
          <p>Trigger: {{n.trigger | json}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <!--
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
-->
  </div>
</ion-content>