<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>{{ title }}</ion-title> -->
    <ion-title color="primary">Dados pessoais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="dark">Nome:</ion-label>
        <ion-input autocapitalize="on" [(ngModel)]="contact.nome" name="app_form_cad_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="dark">CPF:</ion-label>
        <ion-input autocapitalize="on" [(ngModel)]="contact.cpf" name="app_form_cad_cpf">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="dark">Data de Nascimento:</ion-label>
        <ion-datetime value={{birthAverageDate}} [(ngModel)]="contact.dataNascimento" name="app_form_cad_dataNascimento"
          min={{birthMinDate}} max={{maxDate}} displayFormat="DDD, DD de MMM de YYYY"
          dayShortNames="Dom, Seg, Ter, Qua, Qui, Sex, Sab"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" cancelText="Cancelar"
          doneText="Confirmar"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="dark">Telefone</ion-label>
        <ion-input autocapitalize="on" [(ngModel)]="contact.telefone" name="app_form_cad_telefone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="dark">Email:</ion-label>
        <ion-input autocapitalize="on" [(ngModel)]="contact.email" name="app_form_cad_email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="dark">Qual é a data da sua última menstruação (DUM): </ion-label>
        <ion-datetime value={{pregnancyAverageDate}} [(ngModel)]="contact.dataUltimaMenstruacao"
          name="app_form_cad_dataUltimaMenstruacao" min={{pregnancyMinDate}} max={{maxDate}}
          displayFormat="DDD, DD de MMM de YYYY" dayShortNames="Dom, Seg, Ter, Qua, Qui, Sex, Sab"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
          cancelText="Cancelar" doneText="Confirmar"></ion-datetime>
      </ion-item>
      <!--
      <ion-item>
        <ion-label position="stacked" color="dark">Você está grávida?</ion-label>
        <ion-select name="model" [(ngModel)]="contact.estahGravida" name="app_form_cad_estahGravida"
          cancelText="Cancelar" okText="Confirmar">
          <ion-select-option value="1">1º Trimestre</ion-select-option>
          <ion-select-option value="2">2º Trimestre</ion-select-option>
          <ion-select-option value="3">3º Trimestre</ion-select-option>
        </ion-select>
      </ion-item>
      -->
      <ion-item>
        <ion-label position="stacked" color="dark">Em situação de emergência, ligar para:</ion-label>
        <ion-input autocapitalize="on" [(ngModel)]="contact.telefoneEmergencia" name="app_form_cad_telefoneEmergencia">
        </ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-margin-vertical">
      <ion-button type="submit" color="primary" expand="block">Salvar</ion-button>
    </div>
  </form>
</ion-content>