<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>{{ title }}</ion-title> -->
    <ion-title color="primary">Consulta Odontológica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <div class="ion-padding-top ion-text-center">
      <ion-label color="primary" class="ion-text-wrap" [hidden]=ocultaPrimeiroTrimestre>Consulta odontológica do 1º
        Trimestre</ion-label>
      <ion-label color="primary" class="ion-text-wrap" [hidden]=ocultaSegundoTrimestre>Consulta odontológica do 2º
        Trimestre</ion-label>
      <ion-label color="primary" class="ion-text-wrap" [hidden]=ocultaTerceiroTrimestre>Consulta odontológica do 3º
        Trimestre</ion-label>
    </div>
    <ion-item-divider class="ion-no-padding"></ion-item-divider>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="dark">Data da consulta:</ion-label>
        <ion-datetime
          min={{minDate}}
          max={{maxDate}}
          name="app_form_cad_dataConsulta"
          [hidden]=false
          [(ngModel)]="consulta.dataConsulta"
          displayFormat="DDD, DD de MMM de YYYY" 
          dayShortNames="Dom, Seg, Ter, Qua, Qui, Sex, Sab"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" 
          cancelText="Cancelar" 
          doneText="Confirmar">
        </ion-datetime>
        <!-- (ionChange)="atribuiNotificacao($event);" -->
        <ion-label position="stacked" ion-label color="dark" class="ion-text-wrap">O que o dentista vai avaliar?
        </ion-label>
        <ion-textarea autocapitalize="on" [hidden]=ocultaPrimeiroTrimestre [readonly]="true" rows="2"
          value="Seus hábitos de higiene bucal e alimentação diária."></ion-textarea>
        <ion-textarea autocapitalize="on" [hidden]=ocultaPrimeiroTrimestre [readonly]="true" rows="2"
          value="Avaliação clínica dos dentes e gengiva."></ion-textarea>
        <ion-textarea autocapitalize="on" [hidden]=ocultaSegundoTrimestre [readonly]="true" rows="2"
          value="Melhor fase para tratamento odontológico."></ion-textarea>
        <ion-textarea autocapitalize="on" [hidden]=ocultaSegundoTrimestre [readonly]="true" rows="3"
          value="Nesta fase você poderá realizar procedimentos mais difíceis, caso haja necessidade."></ion-textarea>
        <ion-textarea autocapitalize="on" [hidden]=ocultaTerceiroTrimestre [readonly]="true" rows="5"
          value="Este momento é a hora de receber informações relacionadas a alimentação do bebê (aleitamento materno exclusivo) e correta higiene bucal.">
        </ion-textarea>
      </ion-item>
    </ion-list>
    <div class="ion-margin-vertical">
      <ion-button type="submit" color="primary" expand="block">Salvar</ion-button>
    </div>
  </form>
</ion-content>